<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.multi.lastproject.dao.IAuthorDAO">
  <resultMap id="memResult" type="com.multi.lastproject.model.AuthorVO">
		<result property="authorId" column="authorId" />
		<result property="authorName" column="authorName" />
		<result property="authorNick" column="authorNick" />
		<result property="authorHp" column="authorHp" />
		<result property="authorClass" column="authorClass" />
		<result property="authorDescript" column="authorDescript" />
		<result property="authorEmail" column="authorEmail" />
		<result property="authorAddress" column="authorAddress" />
		<result property="authorImage" column="authorImage" />
	</resultMap>

  	<!-- 작가 등록 신청 -->
	<insert id="insertAuthor" parameterType="com.multi.lastproject.model.AuthorVO">
		INSERT INTO author
		VALUES (#{authorId}, #{authorName}, #{authorNick}, #{authorHp}, #{authorClass},
		        #{authorDescript}, #{authorEmail}, #{authorAddress}, #{authorImage});
	</insert>

</mapper>