@charset "UTF-8";
* {margin:0 auto;}
#wrap{ width:1400px;}
 .pageInfo{
      list-style : none;
      display: inline-block;
    margin: 50px 0 0 100px;      
  }
  .pageInfo li{
      float: left;
    font-size: 20px;
    margin-left: 18px;
    padding: 7px;
    font-weight: 500;
    border-radius:50%;
  }
 a:link {color:black; text-decoration: none;}
 a:visited {color:black; text-decoration: none;}
 a:hover {color:black; text-decoration: underline;}
 .Active{
 background-color:tomato;
 }
 #write{float:right;
 		margin-top:20px;
 		margin-bottom:20px;}
 .pageInfo_wrap{width:900px}
 #search_area{
 	width:700px;
 	margin-top:50px;
 }
 #keyword{
 width:400px;
 height:50px;
 }
 #select{
 width:100px;
 height:50px;
 }