@charset "UTF-8";
*{margin:0 auto;}
#wrap{
	width:1400px;
}
#itemBox{
	width:1400px;
	height:450px;
	margin-top:150px;
	border:solid 1px;
}
#imageBox{
	width:600px;
	height:450px;
	float:left;
	margin-left:50px;
}
#prdBox{
	width:600px;
	height:450px;
	float:left;
}
img{
	width:600px;
	height:300px;
}
table{
	width:400px;
	height:300px;
	text-align:center;
}
td{
	width:200px;
}
.b{
	margin-left:100px;
	margin-top:25px;
	width:400px;
	height:50px;
	
}
#textBox{
	margin-top:30px;
	width:1400px;
	height:300px;
	text-align:center;
	border:solid 1px;
}