@charset "UTF-8";

.w{
	width: 900px;	
}

.delete-form{
	margin-top: 30px;
}

.title-txt{
	margin-bottom: 30px;
}

.delete-caution{
	font-size: 14px;
    font-weight: bold;
    text-align: left;
    color: #333;
    margin-bottom: 10px;
}

.content-box{
	display: block;
	background: #f5f5f5;
	width: 810px;
    border: 1px solid #d9d9d9;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
}

.delete-title{
	width: 65px;
	margin-right: 10px;
	text-align: right;
	padding-top: 7px;
	float: left;
}

.delete-inputbox{
	margin-top: 10px;
}

.text-input{
	font-size: 14px;
	padding: 10px;
    border: none;
    width: 260px;
    margin-bottom: 10px;
	border: 1px solid #28CC71;
}

.input-box{
	margin-bottom: 30px;
}

.accountDelete-btn{
	display: inline-blobk;
	margin-left: 350px;
	width: 120px;
	height: 35px;
	color: #fff;
    background: #28CC71;
    border: 1px solid #28CC71;
}