@charset "UTF-8";
*{margin:0 auto;}
#wrap{width:1400px;}
h3{margin-top:30px;
		}
nav{
	margin-bottom:50px;
	}
nav a {float:right;
	margin-right:15px;
	}
nav button{
	float:right;
	margin-right:15px;
}
table{width:800px;
		height:150px;}
	
#time{
	color:grey;
	font-size:11px;
}
section{border: 1px dotted #cecece}
section img{
	
		max-width: 100%;
	
}
.comments{
	width:800px;
}
#comText{
	width:700px;
	height:100px;
}
#comment{
	font-size:25px;
	font-weight:bold;
}

#date{
	color:grey;
	font-size:11px;
}