@import url('https://fonts.googleapis.com/css?family=Nunito');

:root {
	--checkbox-size: 15px;
	--bg-color: #FFA69E;
	--checkbox-color: #28CC71;
	--hover-color: #FF686B;
	--tick-color: #28CC71;
}

body{
	width: 100vw;
	height: 100vh;
	text-align: center;
	font-family: 'Nunito', sans-serif;
	background-color: var(--bg-color);
	
	margin: 0;
    background-color: #F8F9FA;
}

h1 {
	color: var(--checkbox-color);
	font-size: 3rem;
	margin: 50px 0;
}

label {
	display: inline-block;
	margin: 0 calc(var(--checkbox-size) * 0.25);
	width: var(--checkbox-size);
	height: var(--checkbox-size);
	border: calc(var(--checkbox-size) * 0.125) solid var(--checkbox-color);
	border-radius: 12.5%;
	-webkit-transition: 400ms 100ms ease-out;
	-o-transition: 400ms 100ms ease-out;
	transition: 400ms 100ms ease-out;

}

label:hover {
	border-color: var(--hover-color);
}

input[type="checkbox"] {
	position: absolute;
	left: -1000px;
}

.tick {
	position: relative;
	right: calc(var(--checkbox-size) * -0.5);
	top: calc(var(--checkbox-size) * -0.25);
	width: calc(var(--checkbox-size) * 0.25);
	height: calc(var(--checkbox-size) * 0.75);
	border-right: calc(var(--checkbox-size) * 0.25) solid var(--tick-color);
	border-bottom: calc(var(--checkbox-size) * 0.25) solid var(--tick-color);
	-webkit-transform: rotate(45deg) scale(0);
	    -ms-transform: rotate(45deg) scale(0);
	        transform: rotate(45deg) scale(0);
	opacity: 0;
	-webkit-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.5);
	-o-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.5);
	transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.5);
}

.tick:before {
	content: '';
	position: absolute;
	left: calc(var(--checkbox-size) * -0.125);
	bottom: calc(var(--checkbox-size) * -0.25);
	border: calc(var(--checkbox-size) * 0.125) solid var(--tick-color);
	border-radius: 50%;
}

.tick:after {
	content: '';
	position: absolute;
	right: calc(var(--checkbox-size) * -0.25);
	top: calc(var(--checkbox-size) * -0.125);
	border: calc(var(--checkbox-size) * 0.125) solid var(--tick-color);
	border-radius: 50%;
}

input[type="checkbox"]:checked + label .tick {
	opacity: 1;
	-webkit-transform: rotate(45deg) scale(1);
	    -ms-transform: rotate(45deg) scale(1);
	        transform: rotate(45deg) scale(1);
}

input[type="checkbox"]:focus + label {
	-webkit-animation-name: cb-pop;
	        animation-name: cb-pop;
	-webkit-animation-duration: 400ms;
	        animation-duration: 400ms;
	-webkit-animation-iteration-count: 1;
	        animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
	        animation-timing-function: linear;
}

@-webkit-keyframes cb-pop {
	0% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
	33% {
		-webkit-transform: scale(0.9);
		        transform: scale(0.9);
	}
	66% {
		-webkit-transform: scale(1.1);
		        transform: scale(1.1);
	}
	100% {
		tranform: scale(1);
	}
}

@keyframes cb-pop {
	0% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
	33% {
		-webkit-transform: scale(0.9);
		        transform: scale(0.9);
	}
	66% {
		-webkit-transform: scale(1.1);
		        transform: scale(1.1);
	}
	100% {
		tranform: scale(1);
	}
}

.btn {
    background-color: #28CC71;
    font-weight: bold;
    color: white;
    padding: 10px 16px;
    font-size: 1rem;
    border-radius: .5rem;
    transition: all .15s cubic-bezier(0.4,0,0.2,1);
    border: none;
    cursor: pointer;
  }

  .btn:hover {
    background-color: #0D8040;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px
		rgba(0, 0, 0, 0.23);
  }

  .btn:active {
    position: relative;
    top: 1px;
    right: 1px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }

* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    border-radius: 5px;
}

textarea{
    background-color: #ffffff;
    height: 240px;
    border: solid 1px #28CC71;
    resize: none;
    font-size: 10pt;
}

.req{
    color: #28CC71;
}

.btB{
    margin-bottom: 30px;
}

.consent-form{
    width: 800px;
      background-color: #EEEFF1;
      margin-right: auto;
      margin-left: auto;
      margin-top: 50px;
      text-align: center;
      border: none;
      box-shadow: 10px 10px 12px 3px rgba(0,0,0,0.39);
}

.list1{
    margin-top: 30px;
    margin-right: 50px;
    text-align: left;
}

  