   
@charset "UTF-8";
*{margin: 0 auto;}
#wrap{
	width:1280px;
}
#content_box h3 {
	margin-bottom:30px;
}
#content_box{
	padding-top:50px;
	margin-left:100px;
}
.item{
	width:380px;
	margin-top:30px;
	list-style:none;
	 display: inline-block;

}
.item .a{
	font-weight:bold;
	color:black;
	margin-top:20px;
}
.item .b{
	font-weight:bold;
	color:black;
	margin-top:8px;
}
.item .c{
	font-size:12px;
	color:black;
	margin-top:20px;
	line-height:120px;
}
.item .c{
	font-size:12px;
	color:black;
	margin-top:20px;
}
 .pageInfo_wrap{width:1280px}
 .pageInfo{
      list-style : none;
      display: inline-block;
    margin: 50px 0 0 50px;      
  }
  .pageInfo li{
      float: left;
    font-size: 20px;
    margin-left: 18px;
    padding: 7px;
    font-weight: 500;
    border-radius:50%;
  }
 a:link {color:black; text-decoration: none;}
 a:visited {color:black; text-decoration: none;}
 a:hover {color:black; text-decoration: underline;}
 .Active{
 background-color:tomato;
 color:white;
 }