@charset "UTF-8";

#MenuBox{
	display: flex;
	align-items: flex-start;
	margin-top: 50px;
	width: 1280px;
	border-bottom: 1px solid #acacac;
	margin-bottom: 24px;
}

#MainTitle{
	margin-left: 0;
	margin-bottom: 5px;
	font-size: 20px;
    font-weight: 700;
	width: 75%;
    color: #333333;
}

.boardListbox{
	width: 1280px;
	padding-left: 40px;
}

.boardListView{
	width: 1280px;
}

.boardbox{
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 20px;
	margin-top: 20px;
	width: 252px;
	float: left;
}

.posttitleBottom{
	display: flex;
	justify-content: flex-end;
}

.board_title{
	font-size: 20px;
	font-weight: 10px;
}

.titlebottom{
	margin: 0px;
	
}

.product-title-Bottom{
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	
}