@charset "UTF-8";
*{
	margin:0 auto;
}
#wrap{
	width:1280px;
}
.prd{
	width:300px;
	height:200px;
}
th{
	background:#28CC71;
	color:white;
	width:150px;
	text-align:center;
	border-bottom:solid 1px #28CC71;
}
td{
	background:#fbfafa;
	color:black;
	text-align:center;
	height:100px;
	font-size:15px;
	font-weight:bold;
	
	
}
.info{
	border-right:solid 1px #28CC71;
}
tr{
	border-bottom:solid 1px #28CC71;;
}
#orderInfo{
	margin-top:30px;
	border-collapse:collapse;
}