@charset "UTF-8";
*{margin:0 auto;}
#wrap{
	width:1280px;
}
#itemBox{
	width:1280px;
	height:500px;
	margin-top:50px;
	border:solid 1px;
}
#imageBox{
	width:600px;
	height:450px;
	float:left;
	
}
#prdBox{
	width:600px;
	height:450px;
	float:left;
}
img{
	width:600px;
	height:450px;
}
table{
	width:400px;
	height:250px;
	text-align:center;
}
td{
	width:200px;
}
.b{
	margin-left:100px;
	margin-top:25px;
	width:400px;
	height:60px;
	background:#28CC71;
	color:white;
	border-radius:30px;
	font-size:20px;
	font-weight:bold;
	
}
#textBox{
	margin-top:30px;
	width:1280px;
	height:300px;
	text-align:center;
	border:solid 1px;
}
.qty{
	color:#28CC71;
	background:white;
	
}
#cartQty{
	text-align:center;
	font-weight:bold;
}