@charset "UTF-8";
.myinfo-arrange{
	width: 1280px;
	
}

.my-info{
	padding-top: 30px;
	padding-left: 5px;
	width: 180px;
	height: 500px;
	margin-left: 0px;
	margin-right: 30px;
	float: left;
}

.my-name{
	display: flex;
	align-items: center;
	height: 100px;
	text-align: center;
	border: 1px solid #28CC71;
}

.my-menu{
	width: 180px;
}

.my-menu-tite{
	display: flex;
	align-items: center;
	padding-left: 5px;
	width: 175px;
	height: 37px;
	background-color: #28CC71;
	color: #fff;
}

.my-menu-nav{
	width: 180px;
	height: auto;
	background: #fbfafa;
}

.my-menu-a{
	padding-left: 5px;
	padding-right: 16px;
	padding-top: 10px;
    padding-bottom: 6px;
	width: 100%;
	display: inline-block;
	text-decoration:none !important;
	font-size: 13px;
	color: #666;
}

.my-menu-a:hover {
	color: #28CC71;
}