<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.multi.lastproject.dao.IBoardDAO">
 
<!--   <sql id="criteria">
        <trim prefix="where (" suffix=")" prefixOverrides="OR">
            <foreach collection="typeArr" item="type">
                <trim prefix="OR">
                    <choose>
                        <when test="type == 'T'.toString()">
                            boardTitle like concat('%',#{keyword},'%') and ctgId=#{ctgId} and deCtgId=#{deCtgId}
                        </when>
                        <when test="type == 'C'.toString()">
                            boardContext like concat('%',#{keyword},'%') and ctgId=#{ctgId} and deCtgId=#{deCtgId}
                        </when>
                        <when test="type == 'W'.toString()">
                            memId like concat('%',#{keyword},'%' ) and ctgId=#{ctgId} and deCtgId=#{deCtgId}
                        </when>
                    </choose>
                </trim>
            </foreach>
        </trim>
    </sql>
 
  -->
 
 <select id="reviewList" resultType="com.multi.lastproject.model.ReviewVO">
   select * from (
                select revNo, revTitle, revImage, revDate,memId
                from review      
                where ctgId=#{ctgId} and deCtgId=#{deCtgId}  
                <if test="type == 'T'.toString()">
              and   revTitle like concat('%',#{keyword},'%') 
                </if>
                <if test="type == 'C'.toString()">
              and   revText like concat('%',#{keyword},'%')
                </if>
                <if test="type == 'W'.toString()">
              and  memId like concat('%',#{keyword},'%' )
                </if> 
                order by revNo desc) as T1
        limit #{amount} OFFSET #{skip}

   </select>
 
 

 

 
 
   <select id="list" resultType="com.multi.lastproject.model.BoardVO">
   select * from (
                select boardNo, boardTitle, memId, boardDate, boardHit  
                from board 
     
                where ctgId=#{ctgId} and deCtgId=#{deCtgId}  
                <if test="type == 'T'.toString()">
              and   boardTitle like concat('%',#{keyword},'%') 
                </if>
                <if test="type == 'C'.toString()">
              and   boardContext like concat('%',#{keyword},'%')
                </if>
                <if test="type == 'W'.toString()">
              and  memId like concat('%',#{keyword},'%' )
                </if>
                order by boardNo desc) as T1
        limit #{amount} OFFSET #{skip}
   </select>
   
   	<select id="hitlist" resultType="com.multi.lastproject.model.BoardVO">
  	   SELECT * FROM board ORDER BY boardHit DESC limit 8
  	</select>
  	<select id="loginhitlist" resultType="com.multi.lastproject.model.BoardVO">
  	   SELECT * FROM board where ctgId=#{ctgId} ORDER BY boardHit DESC limit 8
  	</select>
  	<select id="getTotal" resultType="int">
  		select count(*) from board
  		      where ctgId=#{ctgId} and deCtgId=#{deCtgId}  
                <if test="type == 'T'.toString()">
              and   boardTitle like concat('%',#{keyword},'%') 
                </if>
                <if test="type == 'C'.toString()">
              and   boardContext like concat('%',#{keyword},'%')
                </if>
                <if test="type == 'W'.toString()">
              and  memId like concat('%',#{keyword},'%' )
                </if>
  	</select>
  	<select id="getTotalReview" resultType="int" >
  		select count(*) from review 
  		where ctgId=#{ctgId} and deCtgId=#{deCtgId}  
                <if test="type == 'T'.toString()">
              and   revTitle like concat('%',#{keyword},'%') 
                </if>
                <if test="type == 'C'.toString()">
              and   revText like concat('%',#{keyword},'%')
                </if>
                <if test="type == 'W'.toString()">
              and  memId like concat('%',#{keyword},'%' )
                </if>
  	</select>
  	
  	<insert id="insertBoard">
  		insert into board (boardTitle,boardContext,boardTag,boardImage,memId,boardHit,ctgId,deCtgId) 
  					values (#{boardTitle},#{boardContext},#{boardTag},#{boardImage},#{memId},#{boardHit},#{ctgId},#{deCtgId})
  	</insert>
  		<update id="modifyBoard">
		update board set 
		boardTitle=#{boardTitle},boardContext=#{boardContext},boardTag=#{boardTag},boardImage=#{boardImage}
		where boardNo=#{boardNo}
	</update>
  	 <select id="getPage" resultType="com.multi.lastproject.model.BoardVO">
   select * from board where boardNo=#{boardNo}
   </select>

    <select id="getReview" resultType="com.multi.lastproject.model.ReviewVO">
   select * from review where revNo=#{revNo}
   </select>
   
  	<update id="updateHit" parameterType="integer">
  		update board set boardHit=boardHit+1 where boardNo=#{boardNo}
  	</update>
  	
  	<insert id="insertReviewfd" parameterType="com.multi.lastproject.model.ReviewVO">
  		insert into review (revTitle,revText,fdPrdNo,ctgId,deCtgId,revImage,memId) 
  					values (#{revTitle},#{revText},#{fdPrdNo},#{ctgId},#{deCtgId},#{revImage},#{memId})
  	</insert>
  	<insert id="insertReviewclo" parameterType="com.multi.lastproject.model.ReviewVO">
  		insert into review (revTitle,revText,cloPrdNo,ctgId,deCtgId,revImage,memId) 
  					values (#{revTitle},#{revText},#{cloPrdNo},#{ctgId},#{deCtgId},#{revImage},#{memId})
  	</insert>
  	 <update id="modifyReview">
		update review set 
		revTitle=#{revTitle},revText=#{revText},ctgId=#{ctgId},deCtgId=#{deCtgId},
		revImage=#{revImage},memId=#{memId}
		where revNo=#{revNo}
	</update>
	
	<delete id="deleteReview" parameterType="int">
		delete from review where revNo=#{revNo}
	</delete>
  	<select id="commentCount" resultType="integer">
  		select count(*) from comment 
  	</select>
  	
  	<select id="commentList" resultType="com.multi.lastproject.model.CommentVO">
       select * from comment where boardNo = ${boardNo}
    </select>
    
	<insert id="commentInsert" parameterType="com.multi.lastproject.model.CommentVO">
        INSERT INTO
        comment (memId,comText,boardNo)
        VALUES(#{memId},#{comText},#{boardNo}) 
    </insert>
    
	<update id="commentUpdate" parameterType="com.multi.lastproject.model.CommentVO">
        UPDATE comment
            SET
            comText = #{comText}
        WHERE CNO = #{comNo}
    </update>
    
    <delete id="commentDelete" parameterType="int">
        DELETE FROM comment WHERE comNo = #{comNo}
    </delete>

    <delete id="deleteBoard" parameterType="int">
      DELETE FROM board where boardNo=#{boardNo}
    </delete>

  </mapper>